<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">

    <head>
        <title>My Title</title>
        <style type="text/css">
            @page {
                size: {{ pagesize }};
                margin: 1cm;
            }
        </style>
    </head>
    <body>
        <div>
        <li>
                <p style="color:red;font-size:36px;">{{ data.name }}</p>
                <p style="color:blue;">{{ data.org }}</p>
                <p style="color:green;">{{ data.talk }}</p>
                <img src="{{ img }}" class="img-responsive" style="width:304px;height:228px;" align="center">
            </li>
        </div>

    </body>
</html>


